
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-position:  center;
}

.btn{
    display: flex;
    margin: 2rem auto;
}


.bannerText h1{
    font-family: Galano Grotesque, sans-serif;
    color: rgba(34, 34, 34, 0.80);
    cursor: pointer;
}





@media only screen and (max-width: 480px) {
    /* Styles for small screens */
    .banner{
        background-image: url('../assets/pexels-robin.jpg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bannerText{
        margin: 0 auto;
    }
    .bannerText h1{
        text-align: center;
        color: #fff;
    }
    .bannerText h1{
        font-size: 1.5rem;
    }

   
    
}

@media only screen and (min-width:480px) and (max-width: 700px) {
    /* Styles for small screens in landscape */
    .banner{
        
        background-image: url('../assets/pexels-robin.jpg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 120%;
    }
    .bannerText{
        margin: 0 auto;
    }
    .bannerText h1{
        text-align: center;
        color: #fff;
    }
    .bannerText h1{
        font-size: 1.9rem;
    }
   
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner{
        background-image: url('../assets/pexels-robin.jpg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 120%;
    }
    .bannerText{
        margin: 0 auto;
    }
    .bannerText h1{
        text-align: center;
        color: #fff;
    }
    .bannerText h1{
        font-size: 1.9rem;
    }

    .bannerText p{
        font-size: 1.4rem;
        font-weight: 550;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    /* Styles for tablets in landscape */
   
}

@media only screen and (min-width: 992px) {
    /* Styles for desktops */
    .banner{
        background-image: url('../assets/pexels-tembela-bohle-1884581.jpg');
        background-repeat: no-repeat;
        /* background-size: 100%; */
    }
    .bannerText{
        margin: 0 auto;

    }
    
    .bannerText h1{
        text-align: center;
        color: #fff;
        font-size: 2.5rem;
        text-shadow: .04rem .04rem .4rem #000;
    }

    .bannerText p{
        font-size: 1.4rem;
        font-weight: 550;
    }

    
}

@media only screen and (min-width: 1200px) {
    /* Styles for large desktops */
   
    
    

  }
  
  

  
  