.btn{
    background-color: aqua;
    border-style: none;
    display: flex;
    justify-content: center;
    padding: .25rem 5rem;
    align-items: center;
    width: 100%;
    font-size: 0.5rem;
    gap: 0.625rem;
    background: #222;
}


@media only screen and (max-width: 480px) {
    /* Styles for small screens */
  .btn{
    width: 30%;

  }
    
}


@media only screen and (min-width:480px) and (max-width: 700px) {
    /* Styles for small screens in landscape */
    .btn{
        width: 30%;
    
    }
    
}

@media only screen and (min-width: 700px) and (max-width: 991px) {
    /* Styles for tablets in portrait */
    .btn{
        width: 30%;
    
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    /* Styles for tablets in landscape */
    .btn{
        width: 30%;
    
    }
}

@media only screen and (min-width: 992px) {
    /* Styles for desktops */
    .btn{
        width: 30%;
    
    }
    
}

@media only screen and (min-width: 1200px) {
    /* Styles for large desktops */
  }
  
  