*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif; 
}

html{
  font-size: 15px;
}

body {
  background: #eee;
  overflow: auto;
  height: auto;
  overflow-x: hidden;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  width: 0.2rem;

}
::-webkit-scrollbar-track{
  background: rgba(234,227,201);

}
::-webkit-scrollbar-thumb{
  background: #dcd0a4;

}
::-webkit-scrollbar-thumb:hover{
  background: #dcd0a4;

}

a{
  text-decoration: none;
  color: #dcd0a4;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@font-face {
  font-family: 'Galano Grotesque';
  src: url('../../public/fonts/GalanoGrotesque/OTF/GalanoGrotesqueDEMO-Bold.otf') format('opentype'),
       url('../../public/fonts/GalanoGrotesque/TTF/GalanoGrotesqueDEMO-Bold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
