
.nav{
    color: rgba(34, 34, 34);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    text-transform: uppercase;
    border-left: .85px solid #dcd0a4;
    border-right: .85px solid #dcd0a4;

}

.nav:hover{
    background-color: #dcd0a4;
}

.nav:nth-child(2){
    border-left: none;
    border-right: none;
    
}

.lnav{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 3rem;
    text-align: center;
    
}
.lnav button{
    font-size: 1.2rem;
    color: rgba(34, 34, 34);
    font-weight: 600;
    border: none;
    padding: 2rem;

    
}
.lnav button:hover{
    background-color: #dcd0a4;
    

  }










@media only screen and (max-width: 480px) {
    /* Styles for small screens */
  
    
}

@media only screen and (min-width:480px) and (max-width: 700px) {
    /* Styles for small screens in landscape */
   
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablets in portrait */
    
    
    
    
    
}
@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    /* Styles for tablets in landscape */
    
}

@media only screen and (min-width: 992px) {
    /* Styles for desktops */
  
    

    
   
    
}

@media only screen and (min-width: 1200px) {
    /* Styles for large desktops */
  }
  
  

  
  