.h2{
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    padding: .8rem;

}

.container{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem .1rem ;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}
    
img{
    display: inline-flex;
    width: 300px;
    height: 450px;
}
p{
    text-transform: capitalize;
    color: #dcd0a4;
    font-weight: bolder;
}
p:nth-child(3){
    color: crimson;
}
.product{
    display: flex;
    flex-flow: column wrap;
}
.product div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    color: #333;
    font-weight: bold;
}
.title:hover{
    text-decoration: underline;
}
.icon{
    border:1px solid #dcd0a4;
    background: #dcd0a4;
    color: #333;
    font-size: 2.4rem;
    border-radius: 50%;
}
.icon:hover{
    color: #fff;
    
}

@media only screen and (max-width: 480px) {
    /* Styles for small screens */
    
    .icon{
        right: 5rem;
        bottom: 3rem;
    }
}



@media only screen and (max-width: 480px) {
    /* Styles for small screens */
  
    
}

@media only screen and (min-width:480px) and (max-width: 700px) {
    /* Styles for small screens in landscape */
   
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablets in portrait */
    
}
@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    /* Styles for tablets in landscape */
    
}

@media only screen and (min-width: 992px) {
    /* Styles for desktops */
  
    

    
   
    
}

@media only screen and (min-width: 1200px) {
    /* Styles for large desktops */
  }
  
  

  
  