.footer{
    background-color: rgb(234,227,201);
    color: rgba(34, 34, 34, 0.60);
    padding: 1rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-row-gap: .7rem;
    grid-template-areas: 
        "a b c d"
         "f g e e"
        
    ;
}

.container ul{
    list-style-type: none;
}

.container h4{
    text-transform: uppercase;
    font-size: .6rem;
    color: rgba(34, 34, 34, 0.60);
    font-style: normal;
    font-weight: 700;
    line-height: 1.45rem;
    letter-spacing: -0.025rem;
}

.container p{
    margin: .3rem auto;
}

.container li{
    font-size: .5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.categories{
    grid-area: a;

}

.accessories{
    grid-area: b;

}

.company {
    grid-area: c;
}

.support{
    grid-area: d;
}

.subscribe{
    grid-area: e;
}

.socials{
    grid-area: f;
}

.contact{
    grid-area: g;
}

.socials ul{
    display: flex;
    flex-direction: column;
}

.socialIcon{
    font-size: 1.3rem;
    margin-bottom: -.4rem;
    padding: .2rem;
}

.socialLink{
    padding-left: .2rem;
    color: rgba(34, 34, 34, 0.60);
    text-decoration: none;
}

.footer h3{
    
    font-size: .9rem;
}
.footer div:last-child{
    font-size: .9rem;
}

.g{
    grid-area: g;
}

.copy{
    grid-area: h;
}
.subscribe form{
    display: flex;
}

.subscribe h5{
    font-size: .9rem;
}
.subscribe p{
    font-size: .7rem;
}

.subscribe span{
    text-decoration: underline;
}

.form{
    display: flex;
    background-color: #fff;
    width: fit-content;
    padding: .5rem 0 .2rem .7rem;
    border-radius: 1rem;
    margin-right: .7rem;
    color: rgba(34, 34, 34, 0.60);
    font-size: 1.4rem;
}

.form input{
    border: none;
    padding-left: .7rem;
    width: 80%;
    font-size: .8rem;
    font-weight: 200;
}




@media only screen and (max-width: 480px) {
    /* Styles for small screens */

    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: .7rem;
        grid-template-areas: 
            "a b c d"
             "f f g g"
             "e e e e"
            
        ;
    }

    .form{
        width: 60%;
        
    }
    
    .form input{
        width: 60%;
        
    }
    .container h4{
        font-size: .8rem;
        
        line-height: 2.15rem;
        letter-spacing: 0.025rem;
        }
    
        .container li{
            font-size: .7rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    
        .subscribe h5{
            font-size: 1.6rem;
        }
        .subscribe p{
            font-size: .8rem;
            text-align: center;
        }
        .subscribe form{
            display: flex;
            justify-content: center;
        }
        .footer h3{
            text-align: left;
            font-size: 1rem;
        }
}


@media only screen and (min-width:480px) and (max-width: 700px) {
    /* Styles for small screens in landscape */
    .form{
        width: 60%;
        
    }
    
    .form input{
        width: 60%;
        
    }
    .container h4{
        font-size: .9rem;
        
        line-height: 2.25rem;
        letter-spacing: 0.025rem;
        }
    
        .container li{
            font-size: .8rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    
        .subscribe h5{
            font-size: 1.7rem;
        }
        .subscribe p{
            font-size: .9rem;
        }
        .footer h3{
            text-align: left;
            font-size: 1rem;
        }
}

@media only screen and (min-width: 700px) and (max-width: 991px) {
    /* Styles for tablets in portrait */
    .container h4{
        font-size: 1rem;
        
        line-height: 2.35rem;
        letter-spacing: 0.025rem;
        }
    
        .container li{
            font-size: .9rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    
        .subscribe h5{
            font-size: 1.8rem;
        }
        .subscribe p{
            font-size: 1rem;
        }
        .footer h3{
            text-align: left;
            font-size: 1.1rem;
        }

}
@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    /* Styles for tablets in landscape */
    .container h4{
        font-size: 1.1rem;
        
        line-height: 2.45rem;
        letter-spacing: 0.025rem;
        }
    
        .container li{
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    
        .subscribe h5{
            font-size: 1.8rem;
        }
        .subscribe p{
            font-size: 1.1rem;
        }
        .footer h3{
            text-align: left;
            font-size: 1.1rem;
        }

}


@media only screen and (min-width: 992px) {
    /* Styles for desktops */
   .container{ 
        grid-template-columns: repeat(6, 1fr);
        grid-row-gap: .7rem;
        grid-template-areas: 
            "a b c d f g"
            "e e e e e e" 
        ;
   }

   .container h4{
    font-size: 1.5rem;
    
    line-height: 2.45rem;
    letter-spacing: 0.025rem;
    }

    .container li{
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .subscribe{
        margin: auto;
    }

    .subscribe h5{
        font-size: 1.9rem;
    }
    .subscribe p{
        font-size: 1.3rem;
        text-align: center;
    }

    .subscribe form{
        display: flex;
        justify-content: center;
    }
    .footer h3{
        text-align: left;
        font-size: 1.5rem;
    } 

    .form{
        width: 40%;
        
    }
   
    
}