
.header{
    display: flex;
    padding: .9rem 0;
    justify-content: space-between;
    background-color: rgb(234,227,201);
    
}
.header h3{
    padding: .2rem 4.5rem;
    font-family: 'Galano Grotesque', sans-serif;

}
.actionbtn{
    display: flex;
    justify-content: end;
}

.icon{
    display: flex;
    /* border: 1px solid blue;  */
    color: rgba(34, 34, 34);
    margin: .1rem 1rem;
    font-size: 1.3rem;
}

.nav{
    padding: .2rem;
    font-weight: 700;
}





@media only screen and (max-width: 480px) {
    /* Styles for small screens */
    .header{
        display: flex;
        padding: .9rem 0;
        justify-content: space-between;
        background-color: rgb(234,227,201);
        
    }
    .header h3{
        padding: .2rem 4.5rem;
        font-size: 1.3rem;
    
    }
    .actionbtn{
        display: flex;
        justify-content: end;
    }
    
    .icon{
        display: flex;
        /* border: 1px solid blue; */
        color: rgba(34, 34, 34);
        margin: .1rem 1rem;
        font-size: 1.8rem;
        font-weight: 900;
    }
    .nav{
        display: none;
    }
    
}

@media only screen and (min-width:480px) and (max-width: 700px) {
    /* Styles for small screens in landscape */
    .header{
        display: flex;
        padding: .9rem 0;
        justify-content: space-between;
        background-color: rgb(234,227,201);
        
    }
    .header h3{
        padding: .2rem 4.5rem;
        font-size: 1.3rem;
    
    }
    .actionbtn{
        display: flex;
        justify-content: end;
    }
    
    .icon{
        display: flex;
        /* border: 1px solid blue; */
        color: rgba(34, 34, 34);
        margin: .1rem 1rem;
        font-size: 1.8rem;
    }
    .nav{
        display: none;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablets in portrait */
    
}
@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    /* Styles for tablets in landscape */
    
}

@media only screen and (min-width: 992px) {
    /* Styles for desktops */
    .headerh3,.nav,.actionbtn{
        display: flex;
        justify-content: space-evenly;
    }

    

    
   
    
}

@media only screen and (min-width: 1200px) {
    /* Styles for large desktops */
  }
  
  

  
  