*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;

  
}

/* #root{
  display: grid;
  grid-template-rows: 6rem auto 30rem;
  height: 100%;
  width: 100%;
} */

html, body{
  margin: 0;
  /* height: 100%; */
}

html {
  font-size: 15px;
}


body {
  background: #fff;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:active{
  /* background-color: #dcd0a4; */
}a:hover{
  /* background-color: #dcd0a4; */
}

html {
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Galano Grotesque';
  src: url('../public/fonts/GalanoGrotesque/OTF/GalanoGrotesqueDEMO-Bold.otf') format('opentype'),
       url('../public/fonts/GalanoGrotesque/TTF/GalanoGrotesqueDEMO-Bold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
